---

---

<div class="text-dark-800 text-xl text-center m-8 space-x-10">
<div class="m-8">
    
    <div class="w-16">
        <a href="index.html" class="text-dark-800 text-3xl">
            <img src="sakura_blomst.svg" alt="Copenhagen Sakura Festival Logo">
            <h3 class="text-sm">Copenhagen<h3/>
            <h1 class="text-xl">Sakura Festival<h1/>
        </a>
    
  
    </div>
</div>
		<ul class="flex flex-row md:gap-14">	
			<li>
	<a class="hover:bg-pink-800" href="index.html">Home</a>
	</li>
	<li>
<a class="hover:bg-pink-800" href="#">Programme</a>
</li>
<li>
<a class="hover:bg-pink-800" href="#">Map/Booths</a>
</li>
<li>
<a class="hover:bg-pink-800" href="#">About</a>
</li>
<li>
<a class="hover:bg-pink-800" href="#">Contact</a>
</li>
</ul>
	</div>

