---

---
<header>
	  <div class="logo">
            <a href="/">
                <img src="sakura_blomst.svg" alt="Logo" class="w-20 md:w-40">
            <h3 class="text-sm">Copenhagen<h3/>
            <h1 class="text-xl">Sakura Festival<h1/>
            </a>
        </div>
        <nav class="bg-pink-200 rounded m-8 text-3xl">
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Programme</a></li>
                <li><a href="#">Map/Booths</a></li>
                <li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
</header>


<!-- <div class="text-dark-800 text-xl text-center m-8 space-x-10">

    
    <div class="place-items-center md:w-16">
        <a href="index.html" class="text-dark-800 text-3xl">
            <img src="sakura_blomst.svg" alt="Copenhagen Sakura Festival Logo">
            <h3 class="text-sm">Copenhagen<h3/>
            <h1 class="text-xl">Sakura Festival<h1/>
        </a>
    
  
    </div>
	<nav class=" bg-pink-200 p-8 rounded-lg">
		<ul class="flex flex-row md:gap-14 ">	
			<li>
	<a class="hover:rounded hover:bg-white-800 p-2" href="index.html">Home</a>
	</li>
	<li>
<a class="hover:rounded hover:bg-white-800 p-2" href="#">Programme</a>
</li>
<li>
<a class="hover:rounded hover:bg-white-800 p-2" href="#">Map/Booths</a>
</li>
<li>
<a class="hover:rounded hover:bg-white-800 p-2" href="#">About</a>
</li>
<li>
<a class="hover:rounded hover:bg-white-800 p-2" href="#">Contact</a>
</li>
</ul>
	</nav>
</div> -->

<script>
	
const burger = document.querySelector(".burger");
const nav = document.querySelector("nav");
const menu = document.querySelector(".menu");
const links = document.querySelectorAll(".menu li a");

burger.addEventListener("click", () => {
  burger.classList.toggle("active");
  nav.classList.toggle("active");
});

links.forEach((link) => {
  link.addEventListener("click", () => {
    burger.classList.remove("active");
    nav.classList.remove("active");
  });
});</script>