---

---
<article class="p-8 m-8">
    <h2 class="text-primary-500 text-2xl p-2">Join us at Langelinje Park</h2>
    <p class="p-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio modi tempora molestias recusandae cum error eligendi. Ipsum explicabo distinctio, nemo dolorem labore sint nisi recusandae architecto deleniti dolorum. Rerum, aspernatur.</p>
        <a href="#" class="text-primary-500 text-xl p-2">Get directions<a/>
<img src="map.webp" alt="Picture of a map of the sakura festival" class="p-2">

</article>