---
const img = Astro.props.img;
---

<article class="bg-blue-500 text-dark-800 m-8 p-8 rounded-lg">
    {img}
    <h3 class="text-xl">Overskrift</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus neque enim, quaerat quod animi illum modi rem iusto autem. Repellendus corrupti rerum cupiditate quod culpa eveniet sequi, aliquid voluptatem velit?</p>
    <h3>Read the story</h3>
</article>