---
const picture = Astro.props.picture;
const alttext = Astro.props.alttext;
const headline = Astro.props.headline;
const description = Astro.props.description;
---

<article class="bg-blue-500 text-dark-500 m-8 p-8 rounded-lg">
    <img src={picture} alt={alttext} class="w-100">
    <h3 class="text-xl">{headline}</h3>
    <p>{description}</p>
    <a href="" class="hover:underline text-2xl">Read the story</a>
</article>